<section class="flex justify-center items-center min-h-screen bg-secondary">
	<div class="content h-full grid grid-cols-[2fr_1fr] gap-30 px-20">
		<div class="flex flex-col justify-center gap-6">
			<h2 class="heading pl-8">O nás</h2>
			<p class="text-2xl p-8 border-primary border-1">
				Úplně Quartet vznikl na jaře roku 2023 z řad členů Mladých brněnských symfoniků a orchestru
				Masarykovy univerzity. Od svého vzniku si vybudoval pestrý repertoár obsahující skladby
				vhodné ke svatebním obřadům, ale také kusy z řad filmové a vážné hudby, a v neposlední řadě
				i několik moderních skladeb. Největší zkušenosti má kvarteto právě s hraním ke svatebním
				obřadům, ale skvěle se hodí i na společenské akce, jako jsou konference a rauty.
			</p>
		</div>
	</div>
</section>
