---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Úplně Quartet</title>
	</head>
	<body>
		<h1>Úplně Quartet</h1>
	</body>

    <style>
      body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h1 {
        font-family: serif;
        text-align: center;
      }
  </style>
</html>
