---
import {Image} from 'astro:assets'
import uplneDementniQuartet from '@assets/uplne-dementni-quartet.png'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Úplně Quartet</title>
	</head>
	<body>
        <Image class="w-screen" src={uplneDementniQuartet} alt="Úplně Dementní Quartet" />
	</body>
</html>
